<div class="container">
  <div class="header">
      <h2>devfinder</h2>
  </div>
  <form>
      <img src="assets/icon-search.svg">
      <input type="text" name="search" id="search" placeholder="Search Github username...">
      <div class="error"></div>
      <button type="submit">Search</button>
  </form>
  <!-- begin content section -->
  <div class="content">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/93353066?v=4" alt="">
      <div class="content-description">
          <div class="user-top">
                  <img class="avatar" src="https://avatars.githubusercontent.com/u/93353066?v=4" alt="">
                  <h2 class="login">Walidwbh</h2>
                  <div class="joined">Joined <span>28 Oct 2021</span></div>
                  <div class="name">@Walidwbh</div>
          </div>
          <div class="bio not-available">
              this profile has no bio
          </div>
          <div class="stats">
              <div class="stat">
                  <div class="stat-title">Repos</div>
                  <div class="stat-content repos-count">8</div>
              </div>
              <div class="stat">
                  <div class="stat-title">Followers</div>
                  <div class="stat-content followers-count">3938</div>
              </div>
              <div class="stat">
                  <div class="stat-title">Following</div>
                  <div class="stat-content following-count">9</div>
              </div>
          </div>
          <div class="links">
              <div class="link">
                  <img src="assets/icon-location.svg">
                  <div class="link-content location not-available">Not Available</div>
              </div>
              <div class="link">
                  <img src="assets/icon-website.svg">
                  <div class="link-content website not-available">Not Available</div>
              </div>
              <div class="link">
                  <img src="assets/icon-twitter.svg">
                  <div class="link-content twitter not-available">Not Available</div>
              </div>
              <div class="link">
                  <img src="assets/icon-company.svg">
                  <div class="link-content company not-available">Not Available</div>
              </div>
          </div>
      </div>
  </div>
  <!-- end content section -->
</div>
